<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="chat-container shadow">

    <div class="chat-header d-flex justify-content-between align-items-center px-3 py-2 border-bottom">
      <h5 class="mb-0">AI Chatbot</h5>
      <button class="btn btn-outline-danger btn-sm" (click)="resetChat()">
        <i class="fa-solid fa-power-off"></i>
      </button>
    </div>

    <div class="chat-messages" #chatMessages>
        <ng-container *ngFor="let msg of userMessages; let i = index">
            <div class="message right">{{ msg }}</div>
            <div class="message left" *ngIf="aiMessages[i]">{{ aiMessages[i] }}</div>
        </ng-container>

        <div class="message left" *ngIf="isWaitingForResponse">
            <em>{{ typingIndicator }}</em>
        </div>
    </div>

    <div class="chat-input">
        <input
            type="text"
            class="form-control me-2 message"
            placeholder="message..."
            [(ngModel)]="message" 
            [disabled]="isWaitingForResponse"
            (keydown.enter)="sendMessage(message)" />
        <button 
            class="btn btn-primary" 
            [disabled]="isWaitingForResponse || !message.trim()" 
            (click)="sendMessage(message)"
            >
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </div>
  </div>
</div>
